<%= provide :main_menu do %>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= nav_tab 'Home', root_path,
            class: 'nav-link px-2', current_page: current_page %></li>
          <li><%= nav_tab 'Questions', questions_path,
            class: 'nav-link px-2', current_page: current_page %></li>
        </ul>
      </nav>
    </div>
  </header>
<% end %>